:root {
    --primary: pink;
    --secondary: purple;
    --dark: white;
    --light: gold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--light);
}

.App {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.calc {
    width: 100%;
    max-width: 600px;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    /* box-shadow: 0px 2px 64px; */
}

.display {
    padding: 16px;
    text-align: right;
    background-color: var(--dark);
    color: var(--light);
    font-size: 24px;
    font-weight: 300;
}

.display span {
    font-size: 14px;
    color: lightseagreen;
}

button {
    appearance: none;
    border: none;
    outline: none;
    color: lightseagreen;
    font-size: 25px;
    padding: 50px;
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    opacity: 0.8;
}

.operators {
    display: flex;
}

.operators button {
    flex: 1 1 0%;
    background-color: var(--primary);
    font-weight: 700;
}

.digits {
    display: flex;
    flex-wrap: wrap;
}

.digits button {
    flex: 1 1 33.333%;
    max-width: 3.333%;
    background-color: var(--dark);
}